<!-- ==============================================
FOOTER
=============================================== -->

<footer id="main-footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-2">

        <a class="logo-link scrollto" href="#home">
          <img class="img-responsive" src="assets/images/logo-bw.png" alt="" />
        </a>

      </div>

      <div class="col-sm-8">

        <nav>

          <ul class="footer-nav">
            <li>
              <a class="scrollto" href="#home">Home</a>
            </li>
            <li>
              <a class="scrollto" href="#services">Services</a>
            </li>
            <li>
              <a class="scrollto" href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a class="scrollto" href="#contact">Contact</a>
            </li>
          </ul>

        </nav>

      </div>

      <div class="col-sm-2 text-right social-links">

        <a href="#" data-toggle="tooltip" title="Follow me on Twitter">
          <i class="fa fa-fw fa-twitter"></i>
        </a>
        <a href="#" data-toggle="tooltip" title="Follow me on Facebook">
          <i class="fa fa-fw fa-facebook"></i>
        </a>
        <a href="#" data-toggle="tooltip" title="Follow me on LinkedIn">
          <i class="fa fa-fw fa-linkedin"></i>
        </a>

      </div>

    </div>

  </div>

</footer>