<!-- ==============================================
FOOTER
=============================================== -->

<footer id="main-footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-2">

        <a class="logo-link scrollto" href="#home">
          <img class="img-responsive" src="assets/images/logo-bw.png" alt="" />
        </a>

      </div>

      <div class="col-sm-8">

        <nav>

          <ul class="footer-nav">
            <li>
              <a class="scrollto" href="#home">Home</a>
            </li>
            <li>
              <a class="scrollto" href="#services">Services</a>
            </li>
            <li>
              <a class="scrollto" href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a class="scrollto" href="#contact">Contact</a>
            </li>
          </ul>

        </nav>

      </div>

      <div class="col-sm-2 text-right social-links">

        <a href="https://twitter.com/DreamTeryST" target="_blank" data-toggle="tooltip" title="Follow me on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dreamtery" target="_blank" data-toggle="tooltip" title="Follow me on Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/in/kittisak-pimnonthong-a20177158/" target="_blank" data-toggle="tooltip" title="Follow me on LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://medium.com/@dreamtery" target="_blank" data-toggle="tooltip" title="Follow me on Medium">
          <i class="fab fa-medium-m"></i>
        </a>

      </div>

    </div>

  </div>

</footer>