<!-- ==============================================
ABOUT
=============================================== -->
<section id="about" class="big-padding">

  <div class="container">

    <h1 class="section-title">My Profile
      <span class="main-color">3</span>
    </h1>

    <div class="row profile">

      <div class="col-sm-10 col-sm-offset-1 text-center">

        <figure class="hover-wrapper scrollimation fade-right">
          <img class="img-responsive img-circle profile-img" src="assets/images/profile-img.jpg" alt="">
          <figcaption class="hover-text">That's Me!</figcaption>
        </figure>

        <h2 class="scrollimation fade-left">Kittisak Pimnonthong</h2>
        <h3 class="scrollimation fade-left">Full-Stack Developer</h3>

        <p class="margin-top scrollimation fade-right">เริ่มต้นการเขียนโปรแกรมด้วยภาษา PHP ตั้งแต่ตอนมัธยมปีที่ 3 แล้วฝึกฝนตนเองเรื่อยมาจนถึงปัจจุบัน รวมเวลามากกว่า 6 ปี
          และยังมีความสามารถในการทำงานด้าน IoT เคยเขียนโปรแกรมควบคุมไมโครคอนโทลเลอร์เช่น Arduino, NodeMCU, Respberry Pi เป็นต้น อีกทั้งยังมีความสามารถด้านการเขียน
          แอปพลิเคชันบนมือถือ บนระบบปฏิบัติการทั้ง Android และ IOS สามารถเขียน Cross platform โดยใช้ React Native ได้
        </p>

        <p class="lead margin-top scrollimation fade-left">Creating is not just a job for me, it's a passion. </p>
        <p class="scrollimation fade-left">
          <a class="btn btn-dc btn-main-color scrollto" href="#portfolio">My Portfolio</a>
        </p>

      </div>

    </div>

  </div>

</section>