<!-- ==============================================
TWITTER
=============================================== -->
<section id="twitter-feeds" class="bg-main-color">

  <div class="container text-center scrollimation fade-right">

    <div class="row">

      <div class="col-sm-10 col-sm-offset-1">

        <h1>Facebook</h1>
        <p>
          <i class="fa fa-facebook-square" style="font-size: 3em"></i>
        </p>

        <p>
          <a href="https://www.facebook.com/dreamtery" data-toggle="tooltip" data-placement="bottom" title="Follow Me on Facebook"
            target="_blank">Kittisak D. Pimnonthong</a>
        </p>

      </div>

    </div>

  </div>

</section>