<!-- ==============================================
TWITTER
=============================================== -->
<section id="twitter-feeds" class="bg-main-color">

  <div class="container text-center scrollimation fade-right">

    <div class="row">

      <div class="col-sm-10 col-sm-offset-1">

        <h1>Latest tweets</h1>
        <p>
          <i class="fa fa-twitter"></i>
        </p>

        <div id="twitter-slider" class="flexslider" data-widget-id="386017398488186880" data-max-tweets="5"></div>

        <p>
          <a href="https://twitter.com/qthemes" data-toggle="tooltip" data-placement="bottom" title="Follow Me on Twitter"
            target="_blank">@johndoe</a>
        </p>

      </div>

    </div>

  </div>

</section>