<!-- ==============================================
LATEST PROJECTS
=============================================== -->

<section class="big-padding gray-bg">

  <div class="container">

    <h1 class="section-title">Latest Projects
      <span class="main-color">2</span>
    </h1>

    <div class="row">

      <div class="col-sm-5 push-down scrollimation fade-right">

        <h2 class="row-title">Alumni - CSKKU</h2>

        <p>เว็บไซต์สำหรับ ศิษย์เก่าภาควิชาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยขอนแก่น สามารถจอง
            บัตรเข้าร่วมง่านต่าง ๆ และมีธรรมเนียบรุ่นของศิษย์เก่าพัฒนาโดยใช้ Laravel Framework
        <p>
          <a class="btn btn-dc btn-small btn-main-color" target="_blank" href="https://alumni.cs.kku.ac.th/">Visit Website</a>
        </p>

      </div>

      <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">

        <img class="img-responsive" src="assets/images/featured-2.png" alt="" />

      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-sm-6 col-sm-push-6 push-down scrollimation fade-left">

        <h2 class="row-title">Washclen - บริการซักผ้า และกำจัดไรฝุ่น</h2>

        <p>Landing page ของแอปพลิเคชัน บริการซักผ้ารับส่ง Dalivery และบริการกำจัดไรฝุ่น และมีระบบบริหารจัดการข้อมูลต่างๆ 
          พัฒนาโดยใช้ Laravel Framework
        <p>
          <a class="btn btn-dc btn-small btn-main-color" target="_blank" href="http://www.washclean.in.th/">Visit Website</a>
        </p>

      </div>

      <div class="col-sm-6 col-sm-pull-6 scrollimation fade-right">
        <img class="img-responsive" src="assets/images/featured-1.png" alt="" />
      </div>

    </div>

  </div>

</section>