<!-- ==============================================
LATEST PROJECTS
=============================================== -->

<section class="big-padding gray-bg">

  <div class="container">

    <h1 class="section-title">Latest Projects
      <span class="main-color">2</span>
    </h1>

    <div class="row">

      <div class="col-sm-5 push-down scrollimation fade-right">

        <h2 class="row-title">Quattro - Agency Portfolio</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lorem orci. Suspendisse posuere tincidunt dui
          vel tempus. Fusce ut vulputate ipsum, id sodales arcu. Praesent ultricies pretium sem, fermentum sagittis.</p>

        <p>
          <a class="btn btn-dc btn-small btn-main-color" href="#link">Visit Website</a>
        </p>

      </div>

      <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">

        <img class="img-responsive" src="assets/images/featured-2.png" alt="" />

      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-sm-6 col-sm-push-6 push-down scrollimation fade-left">

        <h2 class="row-title">Graphista - Personal Portfolio</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lorem orci. Suspendisse posuere tincidunt dui
          vel tempus. Fusce ut vulputate ipsum, id sodales arcu. Praesent ultricies pretium sem, fermentum sagittis.</p>

        <p>Suspendisse posuere tincidunt dui vel tempus. Fusce ut vulputate ipsum, id sodales arcu. Praesent ultricies pretium
          sem, fermentum sagittis.</p>

        <p>
          <a class="btn btn-dc btn-small btn-main-color" href="#link">Visit Website</a>
        </p>

      </div>

      <div class="col-sm-6 col-sm-pull-6 scrollimation fade-right">
        <img class="img-responsive" src="assets/images/featured-1.png" alt="" />
      </div>

    </div>

  </div>

</section>