<!-- ==============================================
CONTACT
=============================================== -->
<section id="contact" class="big-padding light-typo color-overlay">

  <div class="container">

    <h1 class="section-title">Contact Me
      <span class="main-color">6</span>
    </h1>

    <div class="row">

      <div class="col-sm-6 col-md-5 scrollimation fade-right">

        <p class="lead">I am available for internship.
          <br/>Want me become your team?</p>

        <p>
          Kittisak Pimnonthong
          <br/> Computer Science
          <br/> Khonkaen University
          <br/> +66914168306
          <br/>
        </p>

        <div class="social-links">
          <a href="https://twitter.com/DreamTeryST" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a href="https://www.facebook.com/dreamtery" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.linkedin.com/in/kittisak-pimnonthong-a20177158/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://medium.com/@dreamtery" target="_blank">
            <i class="fab fa-medium"></i>
          </a>
        </div>

        <p>
          <a class="mail-styled" href="mailto:p.kittisak@kkumail.com">p.kittisak@kkumail.com</a>
        </p>

      </div>

      <!--=== Contact Form ===-->

      <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left" action="contact.php" method="post" novalidate>

        <div class="form-group">
          <div class="controls">
            <input id="contact-name" name="contactName" class="form-control requiredField" type="text" data-error-empty="is required">
            <label class="control-label" for="contact-name">Name</label>
          </div>
        </div>
        <!-- End name input -->

        <div class="form-group">
          <div class="controls">
            <input id="contact-mail" name="email" class="form-control requiredField" type="email" data-error-empty="is required" data-error-invalid="is invalid">
            <label class="control-label" for="contact-mail">Email</label>
          </div>
        </div>
        <!-- End email input -->

        <div class="form-group">
          <div class="controls">
            <textarea id="contact-message" name="comments" class="form-control requiredField" rows="6" data-error-empty="is required"></textarea>
            <label class="control-label" for="contact-message">Message</label>
          </div>
        </div>
        <!-- End textarea -->

        <button name="submit" type="submit" class="btn" data-error-message="Please fill the required fields" data-sending-message="Sending Message"
          data-ok-message="Your Message has been sent!">Send It</button>
        <input type="hidden" name="submitted" id="submitted" value="true" />

      </form>
      <!-- End contact-form -->

    </div>

  </div>

</section>