<!-- ==============================================
PORTFOLIO
=============================================== -->
<section id="portfolio" class="big-padding">

  <div class="container">

    <h1 class="section-title">My portfolio
      <span class="main-color">4</span>
    </h1>
    <p class="subtitle">See what people say about my work</p>

    <!--==== Portfolio Filters ====-->

    <div class="text-center scrollimation fade-up">
      <div id="filter-works" class="btn-group">
        <button data-filter="*" type="button" class="btn btn-default active">All Items
          <span class="project-count"></span>
        </button>
        <button data-filter=".web" type="button" class="btn btn-default">Web
          <span class="project-count"></span>
        </button>
        <button data-filter=".mobile" type="button" class="btn btn-default">Mobile
          <span class="project-count"></span>
        </button>
        <button data-filter=".competitive" type="button" class="btn btn-default">Competitive
          <span class="project-count"></span>
        </button>
      </div>
    </div>

  </div>

  <div class="container scrollimation fade-up">

    <div id="projects-container" class="row">

      <!-- ==============================================
              SINGLE PROJECT ITEM
              =============================================== -->

      <a class="project-item col-sm-6 col-md-4 col-lg-3 web" link="images-project.html" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-1.jpg" alt="">

        <div class="hover-title"> 
          <h2 class="project-title">ระบบสารสนเทศช่วยเหลือนักเรียน</h2>
          <!--Project Title -->
          <p>Codeigniter Framework</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 web" link="images-project.html" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-2.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">ระบบจัดการ WashClean</h2>
          <!--Project Title -->
          <p>Laravel Framework</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 web" link="images-project.html" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-3.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">ระบบลงทะเบียนชุมนุม</h2>
          <!--Project Title -->
          <p>Codeigniter Framework</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-4.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">ระบบจัดการห้องสมุด</h2>
          <!--Project Title -->
          <p>Codeigniter Framework</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 mobile" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-6.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">ฟังเพลง Wink.in.th</h2>
          <!--Project Title -->
          <p>Android Studio</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 mobile" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-7.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">สุ่มเมนูอาหาร</h2>
          <!--Project Title -->
          <p>Android Studio</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 mobile" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-8.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">ผสมอาหารสุกรอัตโนมัติ</h2>
          <!--Project Title -->
          <p>React Native</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 mobile" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-5.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">WashClean</h2>
          <!--Project Title -->
          <p>React Native</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 competitive" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-9.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">เครื่องผสมอาหารสุกร</h2>
          <!--Project Title -->
          <p>Arduino, Esp8266</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 competitive" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-10.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">KKU mHealth 2017</h2>
          <!--Project Title -->
          <p>Android Studino</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 competitive" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-11.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">Guest - NSC 19</h2>
          <!--Project Title -->
          <p>เยี่ยมชมงาน NSC 19</p>
          <!--Project Subtitle -->
        </div>

      </a>

      <a class="project-item col-sm-6 col-md-4 col-lg-3 competitive" href="javascript:;">

        <img class="img-responsive project-image" src="assets/images/projects/thumb-12.jpg" alt="">

        <div class="hover-title">
          <h2 class="project-title">JOinMe เพื่อนร่วมเดินทาง</h2>
          <!--Project Title -->
          <p>Android Studio</p>
          <!--Project Subtitle -->
        </div>

      </a>

    </div>

    <p class="lead text-center">Like what you see? Contact me to discuss about your project!</p>
    <p class="text-center">
      <a class="btn btn-dc btn-main-color scrollto" href="#contact">Contact Me</a>
    </p>

  </div>

</section>