<!-- ==============================================
SERVICES
=============================================== -->
<section id="services" class="big-padding">

  <div class="container">

    <h1 class="section-title">My Services
      <span class="main-color">1</span>
    </h1>

    <div class="text-center">
      <div class="btn-group">
        <button type="button" href="#front-end" class="btn btn-default toggle-tabs active">Front End</button>
        <button type="button" href="#back-end" class="btn btn-default toggle-tabs">Back End</button>
      </div>
    </div>

    <div class="tab-content">

      <div class="row tab-pane active" id="front-end">

        <div class="col-sm-4 service-item scrollimation fade-left">

          <div class="service-icon ">
            <i class="fab fa-react"></i>
          </div>

          <h3>React.js</h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo.</p> -->


        </div>

        <div class="col-sm-4 service-item scrollimation fade-left">

          <div class="service-icon ">
            <i class="fab fa-angular"></i>
          </div>

          <h3>Angular.js</h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo.</p> -->


        </div>

        <div class="col-sm-4 service-item scrollimation fade-left">

          <div class="service-icon ">
            <i class="fab fa-vuejs"></i>
          </div>

          <h3>Vue.js</h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo.</p> -->

        </div>

      </div>

      <div class="row tab-pane" id="back-end">

        <div class="col-sm-4 service-item">

          <div class="service-icon">
              <i class="fab fa-laravel"></i>
          </div>

          <h3>Laravel</h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo.</p> -->


        </div>

        <div class="col-sm-4 service-item">

          <div class="service-icon">
            <i class="fab fa-node"></i>
          </div>

          <h3>Node.js</h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo.</p> -->


        </div>

        <div class="col-sm-4 service-item">

          <div class="service-icon">
            <i class="fab fa-wordpress"></i>
          </div>

          <h3>Wordpress</h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo.</p> -->

        </div>

      </div>

    </div>

  </div>


</section>