<!-- ==============================================
TESTIMONIALS
=============================================== -->
<section id="testimonials" class="big-padding gray-bg">

  <div class="container">

    <h1 class="section-title">High School
      <span class="main-color">5</span>
    </h1>
    <p class="subtitle">See what I have done when I was a children.</p>

    <div class="row">

      <div class="col-lg-10 col-lg-offset-1 col-sm-12">
        <pdf-viewer [src]="portfolio_path" [render-text]="true" (after-load-complete)="callBackFn($event)" 
        [show-all]="false" [(page)]="page" [autoresize]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
        <div class="pdf-actions">
          Page {{page}}/{{totalPage}}<br/><br/>
          <button class="btn btn-danger" (click)="first()" [disabled]="page <= 1"><<</button>
          <button class="btn btn-warning" (click)="back()" [disabled]="page <= 1">BACK</button>
          <button class="btn btn-info" (click)="next()" [disabled]="page >= totalPage">NEXT</button>
          <button class="btn btn-primary" (click)="last()" [disabled]="page >= totalPage">>></button>
        </div>
      </div>

    </div>

  </div>

</section>

<!-- <div class="white-bg">

  <div class="container">

    <div class="row">

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-1.png" alt="" />
        </a>

      </div>

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-2.png" alt="" />
        </a>

      </div>

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-3.png" alt="" />
        </a>

      </div>

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-4.png" alt="" />
        </a>

      </div>
    </div>

  </div>

</div> -->