<!-- ==============================================
TESTIMONIALS
=============================================== -->
<section id="testimonials" class="big-padding gray-bg">

  <div class="container">

    <h1 class="section-title">Happy Clients
      <span class="main-color">5</span>
    </h1>
    <p class="subtitle">See what people say about my work</p>

    <div class="row">

      <div class="col-lg-10 col-lg-offset-1 col-sm-12">


        <div class="testimonial-controls">
          <span class="previous">
            <i class="fa fa-angle-left"></i>
          </span>
          <span class="next">
            <i class="fa fa-angle-right"></i>
          </span>
        </div>

        <div id="testimonials-slider" class="flexslider">

          <ul class="slides">

            <li>
              <div class="media scrollimation fade-right">

                <div class="media-left">

                  <img class="media-object img-circle" src="assets/images/client-1.jpg" alt="">

                </div>

                <div class="media-body">

                  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class
                    aptent taciti sociosqu ad litora torquent per conubia nostra Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra</p>
                  <p class="client">John Doe /
                    <a href="#link">Google Inc.</a>
                  </p>

                </div>

              </div>

              <div class="media scrollimation fade-left">

                <div class="media-body">

                  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class
                    aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                  <p class="client">John Doe /
                    <a href="#link">Google Inc.</a>
                  </p>

                </div>

                <div class="media-right">

                  <img class="media-object img-circle" src="assets/images/client-2.jpg" alt="">

                </div>

              </div>
            </li>

            <li>

              <div class="media">

                <div class="media-body">

                  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class
                    aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                  <p class="client">John Doe /
                    <a href="#link">Google Inc.</a>
                  </p>

                </div>

                <div class="media-right">

                  <img class="media-object img-circle" src="assets/images/client-3.jpg" alt="">

                </div>

              </div>

              <div class="media">

                <div class="media-left">

                  <img class="media-object img-circle" src="assets/images/client-4.jpg" alt="">

                </div>

                <div class="media-body">

                  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus nec magna eget ultricies. Class
                    aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                  <p class="client">John Doe /
                    <a href="#link">Google Inc.</a>
                  </p>

                </div>

              </div>

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</section>

<div class="white-bg">

  <div class="container">

    <div class="row">

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-1.png" alt="" />
        </a>

      </div>

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-2.png" alt="" />
        </a>

      </div>

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-3.png" alt="" />
        </a>

      </div>

      <div class="col-sm-3">

        <a href="#">
          <img class="img-responsive client-logo" src="assets/images/client-logo-4.png" alt="" />
        </a>

      </div>
    </div>

  </div>

</div>